<nav class="font-sans flex justify-center text-center bg-white w-full">
    <div class="mb-2 sm:mb-0 flex content-center">
      <div class="self-center">
        <img class="self-center" src="images/Blogger-2.png" height=120 width=120 /> 
      </div>
    </div>
</nav>